<div class="page-header">
  <h1>Movie #<%= @movie.id %></h1>
</div>

<p><a href="/movies" class="btn btn-primary">Go Back</a></p>

<dl class="dl-horizontal">
  <dt>Title</dt>
  <dd><%= @movie.title %></dd>

  <dt>Year</dt>
  <dd><%= @movie.year %></dd>

  <dt>Duration</dt>
  <dd><%= @movie.duration %></dd>

  <dt>Description</dt>
  <dd><%= @movie.description %></dd>

  <dt>Director</dt>
  <dd><a href="/directors/<%= @movie.director_id %>"><%= Director.find_by({ :id => @movie.director_id }).name %></a></dd>

  <dt>Image</dt>
  <dd><img src="<%= @movie.image_url %>" width="320"></dd>

  <dt>Cast</dt>
  <dd>
    <ul>
      <% Role.where({ :movie_id => @movie.id }).each do |role| %>
        <li>
          <a href="/roles/<%= role.id %>"><%= role.character_name %></a>
          (<a href="/actors/<%= role.actor_id %>"><%= Actor.find_by({ :id => role.actor_id }).name %></a>)
        </li>
      <% end %>
    </ul>
  </dd>
</dl>
